@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="img image" src="~/images/library.jpg" />
    <h1 class="display-4">Welcome to a Magazine/Novel Library</h1>
</div>
<!--Tag Helper-->
<!--creates a custom html tag-->
<div class="row aligner">
    <my-first-tag-helper name="Fellow BookWorm" class="aligner">

    </my-first-tag-helper>
</div>

<div class="form-group">
    <input type="submit" onclick="showAlert()" value="Show Alertbox!" class="btn btn-primary" />
</div>
