@model IEnumerable<string>

<footer class="footer myFooter border-top">
    <div class="container">
        @foreach (string ftrText in Model)
        {
           @ftrText
        }
    </div>
</footer>